---
layout: base.njk
title: About
permalink: /about/index.html
---
<h1>About</h1>

<!-- AUTHOR PHOTO TO BE ADDED -->
<img src="" alt="Amir Khesro">

<section>
  <!-- BIOGRAPHY TO BE WRITTEN -->
  <p>[Placeholder: first paragraph of the author biography.]</p>
  <p>[Placeholder: second paragraph of the author biography.]</p>
</section>

<section>
  <h2>The books</h2>
  <p><a href="/whispers-through-the-fog/">Whispers Through The Fog</a> is a memoir of acoustic neuroma.</p>
  <p><a href="/acoustic-neuroma-handbook/">The Acoustic Neuroma Handbook</a> is a companion handbook to the memoir.</p>
</section>
